<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.MPlaceMapper">
	<select id="findAll" resultType="jp.co.sss.lms.entity.MPlace">
		SELECT * FROM m_place WHERE delete_flg = #{deleteFlg}
	</select>
	<select id="findById" resultType="jp.co.sss.lms.entity.MPlace">
		SELECT
			* 
		FROM 
			m_place
		WHERE 
			place_id = #{placeId}
			AND hidden_flg = #{hiddenFlg} 
			AND delete_flg = #{deleteFlg}
	</select>
	<select id="getUserAttendanceDto" resultType="jp.co.sss.lms.dto.UserAttendanceDto">
		SELECT
			t1.placeId,
			t3.lms_user_id,
			t4.user_name,
			t6.course_id,
			t6.course_name,
			t9.company_attendance_id,
			t7.date,
			t8.training_start_time,
			t8.training_end_time,
			t8.blank_time,
			t8.status,
			t8.note
		FROM m_place t1
			INNER JOIN t_user_place t2 ON t1.place_id = t2.placeId AND t2.delete_flg = #{deleteFlg}
			INNER JOIN m_lms_user t3 ON t2.lms_user_id = t3.lms_user_id AND t3.delete_flg = #{deleteFlg}
			INNER JOIN m_user t4 ON t3.user_id = t4.user_id AND t4.delete_flg = #{deleteFlg}
			INNER JOIN t_course_user t5 ON t3.lms_user_id = t5.lms_user_id AND t5.delete_flg = #{deleteFlg}
			INNER JOIN m_course t6 ON t5.course_id = t6.course_id AND t6.delete_flg = #{deleteFlg}
			INNER JOIN m_section t7 ON t6.course_id = t7.course_id AND (t7.date BETWEEN #{from} AND #{to}) AND t7.delete_flg = #{deleteFlg}
			LEFT OUTER JOIN t_student_attendance t8 ON t3.lms_user_id = t8.lms_user_id AND t7.date = t8.training_date AND t8.delete_flg = #{deleteFlg}
			LEFT OUTER JOIN t_company_attendance t9 ON t3.lms_user_id = t9.lms_user_id AND t7.date = t9.training_date AND t9.delete_flg = #{deleteFlg}
		WHERE
			t9.training_date IS NULL
			OR (t9.training_date IS NOT NULL AND ((t9.training_start_time = '' AND t9.training_end_time = '') AND (t9.status &lt;&gt; '1')))
			AND t4.authority = '0001'
			AND t1.place_id = #{placeId}
			AND t1.delete_flg = #{deleteFlg}
		ORDER BY
			t7.date ASC
			t3.lms_user_id ASC
	</select>
</mapper>